%h2 Edit Review

= form_tag movie_review_path(@movie,@review), :method => :put do
    =render :partial => 'editR_form'
    %br
    = submit_tag 'Save Changes'
%br
%div
= link_to 'Cancel', movie_path(@movie)
= link_to 'Delete', movie_review_path(@movie,@review), :method => :delete